/* PC */
@media (max-width: 1176px) {
  [class*="__container"] {
    max-width: 970px;
  }
  .header__button {
    flex: 0 0 205px;
  }
  .menu__list {
    gap: 1em;
  }
  .header__container {
    min-height: 90px;
  }
  .button {
    padding: 10px 40px;
    font-size: 16px;
  }
  .menu__link {
    font-size: 14px;
  }
  /*-statistic-*/
  .statistic__row {
    max-width: 750px;
  }
  /*-badge-*/
  .badge__colum {
    padding: 0px 12px;
  }
  .events__colum {
    width: 400px;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: none;
  }
  .header__button {
    flex: 0 0 140px;
  }
  .menu__list {
    gap: 1em;
  }
  .header__container {
    min-height: 80px;
  }
  .button {
    padding: 10px 30px;
    font-size: 14px;
  }
  .menu__link {
    font-size: 12px;
  }
  /*-direction-*/
  .subtitle {
    font-size: 16px;
    line-height: 14px;
  }
  .title {
    font-size: 32px;
    line-height: 34px;
  }
  /*-statistic-*/
  .statistic__row {
    max-width: 600px;
  }
  .statistic__body__value {
    font-size: 30px;
  }
  .statistic__body__text {
    font-size: 20px;
  }
  /*-badge-*/
  .item-badge__icon {
    margin-top: 0px;
  }
  .item-badge__title {
    margin: 10px 0px 5px 0px;
  }
  .item-badge__text {
    font-size: 14px;
    line-height: 18px;
  }
  .events__colum {
    width: 350px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
  /*--header-*/
  .header__button .button {
    padding: 8px 25px;
    font-size: 12px;
  }
  .header__button {
    flex: 0 0 175px;
    position: relative;
    z-index: 50;
  }
  .header__logo {
    position: relative;
    z-index: 50;
  }
  .header:target .menu__body {
    left: 0;
  }
  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: var(--headerdark);
  }

  /*-menu-*/
  .menu__body {
    overflow: auto;
    position: fixed;
    border-radius: 0px 0px 10px 0px;
    top: 80px;
    left: -100%;
    width: 65%;
    height: max-content;
    padding: 25px 15px 0px 15px;
    background: linear-gradient(#0a121f, #19202d);
    transition: left 0.3s ease 0s;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu__item {
    margin-bottom: 25px;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /*--subtittle-title-text-labeltext-*/
  .labeltext {
    font-size: 28px;
    margin: 10px 0 15px 0px;
  }
  .sublabel__name {
    font-size: 28px;
    margin: 30px 0px 15px 0px;
  }
  .right,
  .left {
    margin: 0px;
  }
  .popup__title,
  .card__body__title {
    font-size: 20px;
  }
  .popup__text,
  .card__body__text {
    font-size: 14px;
  }
  .alginlabel__title {
    font-size: 26px;
  }
  /*-direction-*/
  .statistic__body {
    display: flex;
    flex-direction: column;
    min-height: 250px;
  }
  .margin {
    margin-top: 70px;
  }
  .block {
    max-width: none;
  }
  .size {
    flex: 1 1 100%;
  }
  .booking__block,
  .against__block {
    padding: 0px 0px 20px 0px;
  }
  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .wrap,
  .booking__container {
    flex-wrap: wrap;
  }
  .form__image,
  .section__img,
  .section__image {
    text-align: center;
    padding: 15px 0px;
  }
  /*-statistic-*/
  .statistic__body__item {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
  }
  .statistic {
    margin: 0 0;
    padding: 20px 0px 20px 0px;
  }
  .statistic__row {
    max-width: 300px;
  }
  .statistic__body__value {
    font-size: 20px;
  }
  .statistic__body__text {
    font-size: 14px;
  }
  .statistic__row__dekor {
    display: none;
  }
  /*-card-*/
  .card__row {
    align-items: center;
    flex-direction: column;
  }
  /*-badge-*/
  .badge__items {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .badge__colum {
    max-width: 310px;
    margin: 0 auto;
  }
  .badge__colum_2::after {
    right: 220px;
  }
  /*-footer-*/
  .footer__container {
    padding: 0px 30px;
  }
  .footer__row {
    flex: 0 1 100%;
  }
  .footer__vertical {
    flex-wrap: wrap;
    gap: 30px;
  }
  /*-image-*/
  .section__image img {
    max-width: 65%;
  }
  .section__img img {
    max-width: 75%;
  }
  .events__colum {
    margin-bottom: 30px;
    width: 260px;
  }
  .media__events__item_1 {
    top: 10px;
    left: 26px;
    height: 100px;
    width: 100px;
  }
  .media__events__item_2 {
    bottom: 14px;
    left: 29px;
    height: 75px;
    width: 75px;
  }
  .media__events__item_3 {
    bottom: 205px;
    right: 23px;
    height: 75px;
    width: 75px;
  }

  /* Menu mobile */

  .icon-menu {
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
  }
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: var(--blue);
    height: 2px;
  }

  .icon-menu span {
    height: 2px;
    background-color: var(--blue);
  }
  .close-icon-menu {
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    margin-left: 20px;
  }
  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    background-color: var(--blue);
    height: 2px;
    top: 50%;
    left: 0;
    width: 100%;
    position: absolute;
  }
  .close-icon-menu::before {
    transform: rotate(45deg);
  }
  .close-icon-menu::after {
    transform: rotate(-45deg);
  }
  .header:target .icon-menu {
    display: none;
  }
  .header:target .close-icon-menu {
    display: flex;
  }
}
/* SMALL MOBILE */
@media (max-width: 479.98px) {
  .header__logo {
    flex: 0 0 66px;
    overflow: hidden;
  }
  /*-image-*/
  .section__image img {
    max-width: 55%;
  }
  /*--subtittle-title-text-labeltext-*/
  .subtitle {
    font-size: 12px;
    line-height: 14px;
  }
  .title {
    font-size: 26px;
    line-height: 28px;
  }
  .text {
    font-size: 14px;
    line-height: 18px;
  }
  .labeltext {
    font-size: 28px;
    margin: 10px 0 15px 0px;
  }
  .sublabel__name {
    font-size: 26px;
    margin: 30px 0px 15px 0px;
  }
  .right,
  .left {
    margin: 0px;
  }
}
