/*- design form input*/

.submit__button input {
}
form {
  width: 320px;
  margin: 0px auto;
}
form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: var(--webkit);
}
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: var(--grey);
}
form hr.sep {
  background: var(--webkit);
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 20px 0;
}

textarea {
  resize: none;
}
.booking__input {
  width: 320px;
  border-bottom: 1px solid var(--grey);
}
input,
textarea {
  background: none;
  color: var(--grey);
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: var(--webkit);
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: var(--grey);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: var(--webkit);
  transition: 300ms ease all;
  left: 0%;
}
