/*-popup-*/
.popup__span {
  color: var(--blue);
}
.popup__link {
  color: var(--blue);
  padding: 5px 10px;
  border-radius: 5px;
  border: var(--grey) solid 2px;
  transition: background-color 0.8s ease 0s;
}
.popup__link:hover {
  background-color: var(--lightgrey);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.width__image {
  max-width: 800px;
}
.width__text {
  max-width: 400px;
}
.popup__content {
  background-color: var(--dark);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 20px;
  padding: 3px;
  color: var(--grey);
}
