/*reset*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  background-color: var(--dark);
  color: var(--grey);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
}
/*-color-*/
:root {
  --white: #ffffff;
  --blue: #3a68b8;
  --lightblue: #5279be;
  --aqua: #92e4e8;
  --dark: #020a18;
  --headerdark: #0a121f;
  --grey: #cfcfcf;
  --lightgrey: rgba(255, 255, 255, 0.129);
  --lightaqua: #53c4f7;
  --footer: #09101e;
  --webkit: #2196f3;
  --background: #050d1b;
}
.background {
  background-color: var(--background);
}
.text span {
  color: var(--blue);
}
.white {
  color: var(--white);
}
.google span {
  color: var(--blue);
}

.linear {
  background: linear-gradient(#030b19, #050d1b);
}
.item-badge,
.linear-gradient {
  background: linear-gradient(#0d1522, #19202d);
  border-radius: 10px;
}
/*-webkit-*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--grey);
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  background: none;
  color: var(--webkit);
}
/*-wrapper-*/

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*--generel style--*/
.statistic__body__item,
.header__menu,
.main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1176px;
  margin: 0px auto;
  padding: 0px 15px;
}

/*-header-*/

.header {
  background-color: var(--headerdark);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 100px;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__button {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 263px;
}
/*--menu--*/
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
  gap: 2.5em;
}
.menu__link {
  color: var(--white);
  display: inline;
  font-family: "Raleway";
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-transform: uppercase;
}
.menu__link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--blue);
}
.close-icon-menu,
.icon-menu {
  display: none;
}
/*-button-*/
.button__main {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.button__nav {
  text-transform: uppercase;
  display: inline-block;
  font-family: "Raleway";
  font-weight: 800;
}
.button {
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 5px;
  transition: background-color 0.8s ease 0s;
  padding: 16px 51px;
  font-size: 16px;
}
.button:hover {
  background-color: var(--lightblue);
}
/*-section-*/
.margin {
  margin-top: 100px;
}
.section {
  padding: 20px 0px 20px 0px;
}
.block {
  max-width: 558px;
}
.direction__block {
  padding-right: 15px;
}
.booking__block,
.against__block {
  padding-left: 15px;
}
.left {
  margin-right: 15px;
}
.right {
  margin-left: 15px;
}
.box__block {
  border-radius: 10px;
  padding: 15px;
  max-height: 100%;
}
.book,
.free {
  padding: 20px 0px;
}
.box__container {
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.size {
  flex: 0 1 50%;
}
.colum {
  display: flex;
  flex-direction: column;
}
.booking__container,
.against__container {
  flex-direction: row-reverse;
}
.span {
  color: var(--blue);
}
.buttons {
  display: flex;
  gap: 15px;
}
.section__button {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-badge__image img,
.popup__image img,
.banner__body img,
.section__img img,
.section__image img {
  max-width: 100%;
}
/*--subtittle-title-text-labeltext-*/
.center {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
}
.algin {
  margin: 0 auto;
}
.textalgin {
  text-align: center;
}
.sublabel__name {
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  color: var(--white);
  margin: 50px 0px 35px 0px;
}
.labeltext {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: var(--white);
  margin: 15px 0 20px 0px;
}
.subtitle {
  font-size: 20px;
  line-height: 24px;
  color: var(--webkit);
  text-transform: uppercase;
}
.subtitle:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.title {
  font-size: 40px;
  line-height: 47px;
  color: var(--white);
}
.title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.title span {
  color: var(--aqua);
}
.text p:not(:last-child) {
  margin-bottom: 10px;
}

.text:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
/*-alginlabel-*/
.alginlabel {
  padding: 30px 0px;
}
.explore__body {
  max-width: 570px;
  margin: 0 auto;
}
.alginlabel__body {
  max-width: 550px;
  margin: 0 auto;
}
.alginlabel__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  color: var(--aqua);
}
/*-statistic-*/
.statistic {
  margin: 50px 0;
  padding: 60px 0px 48px 0px;
}
.statistic__row {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.statistic__body {
  display: flex;
  border-radius: 10px;
  min-height: 120px;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.statistic__body__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--lightaqua);
}
.statistic__body__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  color: var(--white);
}

/*-dekor-*/
.statistic__row__dekor {
  position: absolute;
  background: var(--lightaqua);
  border-radius: 15px;
}
.statistic__row__decor_1 {
  width: 65px;
  height: 68px;
  transform: rotate(-30deg);
  bottom: -31px;
  left: -31px;
}
.statistic__row__decor_2 {
  width: 120px;
  height: 120px;
  right: 45%;
  top: -170px;
  transform: rotate(105deg);
}
.statistic__row__decor_3 {
  width: 150px;
  height: 150px;
  right: -45px;
  top: -132px;
  transform: rotate(-30deg);
}
/*-card-*/
.card {
  padding: 20px 0;
}
.card__row {
  display: flex;
  gap: 30px;
}
.card__collum {
  display: flex;
  justify-content: center;
  flex: 0 1 50%;
}
.card__vertical {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  max-width: 376px;
  width: 100%;
}
.card__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  max-width: 376px;
  flex: 0 1 33.333%;
  width: 100%;
}
.popup__subtitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
}
.popup__title,
.card__body__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  padding: 20px;
}
.popup__text,
.card__body__text {
  font-size: 16px;
  line-height: 160%;
}
.nummber,
.google {
  margin-top: 20px;
}
/*-popup-*/
.popup__span {
  color: var(--blue);
}
.popup__link {
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--blue);
  transition: background-color 0.8s ease 0s;
}
.popup__link:hover {
  background-color: var(--lightblue);
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  /*transition: all 0.8s ease 0s;*/
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
/*.popup:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}*/
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  /*transition: all 0.8s ease 0s;*/
}
.width__image {
  max-width: 800px;
}
.width__text {
  max-width: 400px;
}
.popup__content {
  background-color: var(--dark);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  /*opacity: 0;
  transition: all 0.8s ease 0s;
  transform: translate(0px, -100%);*/
}
.popup__close {
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 20px;
  padding: 3px;
  color: var(--grey);
}
/*-banner-*/
.banner__row {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
/*-badge-*/
.explore,
.badge {
  padding: 40px 0px;
}
.badge__items {
  display: flex;
}
.badge__colum {
  position: relative;
  padding: 0px 36px;
  flex: 0 1 33.333%;
}
.badge__item {
  height: 100%;
}
.item-badge {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
}
.item-badge__icon {
  margin-top: 10px;
}
.item-badge__title {
  margin: 20px 0px 10px 0px;
}
.item-badge__text {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
}
/*-badge_dekor-*/
.badge__colum_3::before,
.badge__colum_2::after,
.badge__colum_1::before,
.badge__colum_1::after {
  content: "";
  position: absolute;
  background-color: var(--lightaqua);
  border-radius: 15px;
}
.badge__colum_1::before {
  height: 65px;
  width: 65px;
  bottom: -33px;
  left: 10px;
  transform: rotate(-35deg);
}
.badge__colum_1::after {
  height: 95px;
  width: 95px;
  top: 35px;
  right: -10px;
  transform: rotate(30deg);
}
.badge__colum_2::after {
  height: 127px;
  width: 127px;
  bottom: -30px;
  right: -40px;
  transform: rotate(-30deg);
}
.badge__colum_3::before {
  height: 65px;
  width: 65px;
  top: -30px;
  right: 5px;
  transform: rotate(-30deg);
}
/*-footer-*/
.footer {
  background-color: var(--footer);
  padding: 50px 0;
}
.footer__vertical {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__row {
  max-width: 258px;
}
.footer__label {
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  color: var(--webkit);
}
.footer__label,
.footer__subtitle {
  margin: 0px 0px 20px 0px;
}
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0px 0px 25px 0px;
}
.footer__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
.footer__line {
  padding-left: 35px;
}
.mail {
  background: url(/image/logo_mail.svg) left no-repeat;
}
.phone {
  background: url(/image/logo_phone.svg) left no-repeat;
}
.location {
  background: url(/image/logo-location.svg) left no-repeat;
}
.footer__subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
}
.footer__sublist {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.footer__sublist li:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.footer__copyright {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  margin: 40px 0 0 0;
}
.footer__link {
  color: var(--white);
  transition: all 0.8s ease 0s;
}
.footer__link:hover {
  color: var(--blue);
}
/*-anchor-*/
#shop,
#accessibility,
#cafe,
#location {
  border-top: 355px solid transparent;
  margin-top: -355px;
  padding: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#evolution,
#ai,
#ecology,
#medicine,
#cosmology {
  border-top: 100px solid transparent;
  margin-top: -100px;
  padding: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#robotics,
#biology {
  border-top: 210px solid transparent;
  margin-top: -210px;
  padding: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
i {
  display: none;
  color: var(--white);
}
/*events_media_dekor*/
.events__media {
  flex: 0 1 50%;
  justify-content: center;
  display: flex;
}
.events__colum {
  width: 443px;
  text-align: center;
  position: relative;
  padding: 49px 54px 40px 56px;
}
.media__img img {
  border-radius: 15px;
  max-width: 100%;
}
.media__img {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.media__events__item {
  content: "";
  position: absolute;
  background-color: var(--lightaqua);
  border-radius: 15px;
}
.media__events__item_1 {
  top: 0;
  left: 0;
  height: 147px;
  width: 147px;
}
.media__events__item_2 {
  bottom: 0;
  left: 12px;
  height: 100px;
  width: 100px;
}
.media__events__item_3 {
  bottom: 249px;
  right: 0px;
  height: 100px;
  width: 100px;
}
